/* selectable colors */
:root {
  --bg-color-white: white;
  --bg-color-black: black;
  --bg-color-gray: gray;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .swim-lanes {
    min-height: 60vh;
  }
  
  .task-card {
    margin: 0 auto;
  }

  .due-today {
    background-color: yellow;
  }

  .past-date {
    background-color: red;
    color: var(--bg-color-white);
  }

  /* display similarities */
  #overlay-div, #official-modal, #modal-header, #modal-content-1, #modal-content-2, #modal-1, #modal-2, #card {
    display: flex;
  }

  /* 100% width similarities */
  #overlay-div, #modal-header, #modal-content-1, #modal-content-2 {
    width: 100%;
  }

  /* text align */
  #official-modal, #modal-header {
    text-align: center;
  }

  /* align-items similarities */
  #official-modal, #modal-header, #modal-content-1, #modal-content-2 {
    align-items: center;
  }


  .card-title-task {
    font-size: 25px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    padding-bottom: 10px;
  }

  .card-desc {
    margin-bottom: 20px;
  }

  .card-delete-btn {
    border: 1px solid var(--bg-color-black);
    font-weight: 600;
    border-radius: 10px;
    padding: 5px 40px;
    cursor: pointer;
  }

  .card-delete-btn:hover {
    opacity: 0.9;
    background-color: var(--bg-color-black);
    color: var(--bg-color-white);
  }
  

  #overlay-div {
    visibility: hidden;
    position: absolute;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 9;
  }

  #official-modal {
    visibility: hidden;
    position: fixed;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    z-index: 5;
    background-color: var(--bg-color-white);
    width: 500px;
    height: 500px;
    z-index: 10;
    border-radius: 5px;
  }

  #official-modal input {
    width: 175px;
    margin-bottom: 15px;
  }

  #modal-header {
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 2px rgba(0,0,0,0.1) solid;
    height: 35px;
    align-content: center;
    margin-bottom: 10px;
    text-align: left;
    padding: 23px 20px;
  }

  #modal-header p {
    margin: 0;
  }

  #cancel-btn {
    position: relative;
    padding: 2px 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--bg-color-gray);
    color: var(--bg-color-white);
  }

  #modal-content-1 {
    flex-direction: row;
    justify-content: center;
    height: 150px;
    background-color: var(--bg-color-white);
  }

  #modal-content-1 input {
    outline: none;
    border: 2px rgba(0,0,0,0.1) solid;
    height: 35px;
    width: 200px;
  }

  #modal-content-2 {
    flex-direction: column;
  }

  #modal-content-2 textarea {
    width: 440px;
    max-height: 130px;
    min-height: 125px;
    height: 100px;
    margin-bottom: 15px;
    outline: none;
    border: 2px rgba(0,0,0,0.1) solid;
  }

  #modal-1, #modal-2 {
    flex-direction: column;
    margin: 0px 20px;
    text-align: left;
  }

  #card {
    position: relative;
    z-index: 100;
  }

  
  .draggable {
    border-radius: 15px;
  }
  
  .draggable:hover {
    cursor: grab;
  }


  #done-cards .card-body {
    background-color: var(--bg-color-white);
    color: var(--bg-color-black);
  }

  .card-body {
    border-radius: 15px;
  }

  /* similarities between buttons */
  #add-task-btn, #cancel-task-button {
    padding: 5px 10px;
    border: none;
    color: var(--bg-color-white);
    border-radius: 5px;
  }

  #add-task-btn {
    background-color: green;
    margin: 5px 0;
  }

  #cancel-task-button {
    background-color: var(--bg-color-gray);
  }

  